.elements__container {
  max-width: 880px;
  width: 100%;
  margin: 50px auto 67px auto;
  display: flex;
  justify-items: center;
  align-items: center;
  opacity: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  padding: 0px;
}

.element {
  position: relative;
  background-color: white;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
  width: 100%;
  height: 361px;
  border-radius: 10px;
  opacity: 0px;
}
.element__photo-trash {
  background: url("../images/trash.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  height: 19.3px;
  width: 18px;
  position: absolute; /* Posiciona el botón relativo al contenedor */
  top: 10px; /* Asegura que esté en la parte superior */
  right: 10px; /* Asegura que esté en la parte derecha */
  z-index: 10; /* Asegura que el botón esté por encima de la imagen */
}
.element__photo-link {
  width: 100%;
  height: 282px;
  object-fit: cover;
}

.element__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__photo-name {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  flex-grow: 1;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Esconde el contenido que se desborda */
  text-overflow: ellipsis; /* Muestra los puntos suspensivos si el texto es muy largo */
}

.element__photo-like {
  background: url("../images/like_button.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 19px;
  flex-shrink: 0;
}

.element__photo-like_active {
  background: url("../images/photo__like.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 19px;
  flex-shrink: 0;
}

@media (min-width: 501px) and (max-width: 768px) {
  .elements__container {
    width: 100%; /* Ajusta el ancho para adaptarse al contenedor */
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 15px;
    justify-items: center;
    align-items: center;
  }

  .element {
    max-width: 282px;
    width: 100%;
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }

  .element__photo-name {
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
  }
}

/*Media query para pantalla 320px*/

@media (max-width: 500px) {
  .elements__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .element {
    width: 100%; /* Asegura que las tarjetas se adapten al contenedor */
    max-width: 280px; /* Ajusta el ancho máximo para pantallas pequeñas */
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }

  .element__photo-name {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
  }
}
