.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 880px;
  width: 100%;
  margin: auto;
}

.profile__avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 120px;
  height: 120px;
  margin-right: 30px;
  opacity: 1;
}

.profile__content {
  display: flex;
  gap: 18px;
  max-width: 415px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.form .popup__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__name {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}

.profile__hobbie {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
}

.profile__edit-button {
  margin: 0px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  max-width: 24px;
  height: 24px;
  margin-top: -10px;
}

.profile__edit-button img {
  width: 24px;
}

.profile__add-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: auto;
  height: 100%;
  max-width: 150px;
  width: 100%;
  max-height: 150;
}

.profile__add-button img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 150;
}

@media (min-width: 501px) and (max-width: 768px) {
  .profile {
    width: 85vw;
  }
  .profile__add-button {
    max-width: 100px;
    width: 100%;
  }
  .profile__content {
    display: flex;
    max-width: auto;
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .profile__avatar {
    justify-content: center;
    margin: 0px;
  }
  .profile__info {
    margin-left: 10px;
    padding: 0px;
    width: auto;
  }
  .profile__name {
    font-family: "Inter", Arial, sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
  }

  .profile__hobbie {
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .profile {
    flex-direction: column;
    width: 282px;
    margin: 42px auto 36px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    margin: 0px;
  }
  .profile__content {
    align-items: center;
    justify-content: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
  }

  .profile__info {
    margin-top: 30px;
    margin-bottom: 36px;
    justify-content: center;
    align-items: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: -30px;
  }

  .profile__add-button {
    max-width: 282px;
    width: 100%;
  }

  .profile__add-button img {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    margin: 0;
  }
}
