.profile {
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: 120px 400px repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  margin: 0 auto;
  padding: 40px 0 50px;
}
.profile__info {
  max-width: 680px;
  display: grid;
  grid-template-columns: auto 24px;
}
.profile__image {
  max-width: 120px;
  width: 100%;
  max-height: 120px;
  border-radius: 50%;
}

.profile__image-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__image-container:hover .profile__image {
  filter: grayscale(15%);
  opacity: 0.5;
  cursor: pointer;
  background-image: url(../image/pencil_img.svg);
}

.profile__image-pencil {
  position: absolute;
  display: none;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-image: url(../image/pencil_img.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.profile__image-container:hover .profile__image-pencil {
  display: block;
}

.profile__image::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../image/pencil_img.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__info-list {
  list-style-type: none;
  padding: 0;
}

.profile__info-name {
  max-width: 380px;
  margin: auto 0 16px;
  font-size: 42px;
}

.profile__info-description {
  margin: 0;
  font-size: 18px;
}

.profile__edit-button {
  max-width: 24px;
  width: 100%;
  height: 24px;
  background-image: url(../image/Edit_Button.svg);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 31.5px 0 0 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

.profile__edit-button:hover {
  filter: grayscale(100%);
  opacity: 0.5;
}

.profile__add-button {
  max-width: 150px;
  width: 100%;
  height: 50px;
  background-image: url(../image/Add_Button.svg);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4;
  margin: auto 0;
  border: 1px solid transparent;
  cursor: pointer;
}

.profile__add-button:hover {
  filter: grayscale(100%);
  opacity: 0.5;
}
